.footer {
    background-color: black;
    width: 100%;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
  }
  
  .footimg{
    width: 125px; 
  }