.project-circles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    margin-top: 20px; 
  }
  
  .project-circles img {
    width: 300px;
    height: auto; 
  }
  